cookiecutter
ipykernel
ipython
jupyter
matplotlib
nibabel
nilearn
numpy
pandas
scikit-learn
scipy
seaborn
umap-learn
abagen
git+https://github.com/netneurolab/netneurotools
pybids
requests
git+https://github.com/neurosynth/neurosynth
git+https://github.com/aestrivex/bctpy.git#egg=bctpy
