cookiecutter
ipykernel
ipython
jupyter
matplotlib
nibabel
nilearn
numpy
pandas
scikit-learn
scipy
seaborn
umap-learn
abagen
netneurotools
pybids
pathlibs
json
os
contextlib
requests
git+https://github.com/neurosynth/neurosynth
git+https://github.com/aestrivex/bctpy.git#egg=bctpy
